$color-main: #c31200;

@import 'https://fonts.googleapis.com/css?family=Droid+Sans';

body {
  background-color: $color-main;
  font-family: 'Droid Sans'
}

.hello {
  margin-left: 10px;
  font-size: 20px;
}

.appArea {
  background-color: rgb(231, 232, 231);
  width: 80%;
  border-radius: 10px;
  min-height: 100vh;
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 5px 60px 5px rgb(47, 47, 47)
}

.buttonArea {
  text-align: center;
  margin-top: 20px;
}

.titleContainer {
  text-align: center;
  color: white;
}

.title {
  font-size: 50px;
  font-style: bold;
  text-shadow: 0px 0px 15px black;
}

.main-center {
  text-align: center;
  position:relative;
  margin: 0 auto;
  max-width: 340px;
  border-radius: 10px;
  box-shadow: 0px 2px 39px 2px grey;
  padding: 33px;
  padding-top: 1px;
  border-radius: 10px;
  margin-top: 38px;
}

.text-center {
  text-align: center;
}

.rating {
  max-width: 99px;
  margin-top: 8px;
}

.profile-img {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.min-height {
  min-height: 100px;
  min-width: 100px;
}

.jumbotron {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px !important;
  text-align: left;
  margin-bottom: 10px;
  background-color: white;
}

.searchDisplay, .display {
  margin-top: 15px;
}

.display {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
}

.footer {
  text-align: center;
}
