h1 Favorites
h1(ng-hide='favorites.favorites.length') You have no favorites yet
.searchDisplay(ng-show='favorites.favorites.length')
  .jumbotron(ui-sref='details({ id: favorite.yelpId })' ng-repeat='favorite in favorites.favorites track by $index')
    h1 {{favorite.yelpId}}
