h1 Favorites
h1(ng-hide='favorites.favorites.length') You have no favorites yet
.searchDisplay(ng-show='favorites.favorites.length')
  .jumbotron(ui-sref='details({ id: business.id })' ng-repeat='favorites in favorites.favorites track by $index')
    .row
      .col-xs-3.col-md-2.text-center.min-height
        .image
          img.img-responsive.img-rounded(ng-src='{{favorite.image_url}}')
        .rating  
          img.img-responsive(max-width='99' ng-src='{{favorite.rating_img_url_large}}')
      .col-xs-8
        p {{favorite.name}}
        hr
        p City: {{favorite.location.cuty}}
        hr
        p Reviews: {{favorite.review_count}}
